#playlist {
    margin-top: 20px;
}

#playlist ul {
    list-style-type: none;
    padding: 0;
}

#playlist li {
    cursor: pointer;
    margin-bottom: 5px;
}

#player {
    aspect-ratio: 16/9;
     border: none;
     max-width: 832px;
     max-height:480px;
     background-color: black;
     background-size: cover;
     background-position: center;
  }

#playlist li:hover {
    text-decoration: underline;
}

        #video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 360px; /* ajuste a altura conforme necessário */
            background-color: black;
            z-index: 1000; /* certifique-se de que o vídeo está acima de outros elementos */
        }
