#playlist {
    margin-top: 20px;
}

#playlist ul {
    list-style-type: none;
    padding: 0;
}

#playlist li {
    cursor: pointer;
    margin-bottom: 5px;
}

#playlist li:hover {
    text-decoration: underline;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 480px;
    background-color: black;
}
